<p>
  <strong>名前:</strong>
  <%= @roll_result.name %>
</p>

<p>
  <strong>面数:</strong>
  <%= @roll_result.limit_of_dice %>
</p>

<p>
  <strong>個数:</strong>
  <%= @roll_result.number_of_dices %>
</p>


</table>